<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61525876238-i2q3uscnioh673dpt67jfog6cvms18d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61525876238-i2q3uscnioh673dpt67jfog6cvms18d6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQUxI99JGS6Cv7Wwsq1_S9sWx-mciFfnk</string>
	<key>GCM_SENDER_ID</key>
	<string>61525876238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadikcoban.iOS-Messenger</string>
	<key>PROJECT_ID</key>
	<string>ios-messenger-9b6de</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-messenger-9b6de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61525876238:ios:cae792520e0dbf1e2e665f</string>
</dict>
</plist>